**/.benchmarks
**/bubbles.pkl
**/build/
**/.cache
**/*.cover
**/.coverage
**/.coverage.*
**/coverage.xml
**/develop-eggs/
**/downloads/
**/docs/_build/
**/docs/api
**/.DS_Store
**/eggs/
**/.eggs/
**/*.egg
**/*.egg-info
**/*flamegraph-perf.log
**/*flamegraph.svg
**/*flamegraph.html
**/.github
**/.gitignore
**/htmlcov/
**/.hypothesis/
**/.idea/*
**/.installed.cfg
**/.ipynb_checkpoints
**/*.jsonl
**/lib64/
**/*.manifest
**/MANIFEST
**/missions.pkl
**/.mypy_cache/
**/nosetests.xml
**/OpEn_build/
**/pip-delete-this-directory.txt
**/pip-log.txt
**/pip-wheel-metadata/
**/__pycache__
**/.pytest_cache
**/.python-version
**/*.rou.alt.xml
**/*.rou.xml
**/*.so
**/social_agents/*
**/*.spec
**/.spyderproject
**/.spyproject
**/supervisord.log
**/supervisord.pid
**/*.tar
**/.tox/
**/traffic_histories.pkl
**/*.trips.xml
**/.venv
**/.vscode
**/wheels/
**/xdummy.log

# Keep manually generated sumo route files
!zoo/evaluation/scenarios/**/traffic/*.rou.xml
!smarts/sstudio/tests/*.rou.xml

# Keep model assets
!**/models/*.glb