absl-py==1.1.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==2.0.1
aiosignal==1.2.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
atari-py==0.2.6
attrs==21.4.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blessings==1.7
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.0.4
cloudpickle==1.3.0
colorama==0.4.5
colorful==0.5.4
commonmark==0.9.1
constantly==15.1.0
coverage==6.4.1
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.7
eclipse-sumo==1.10.0
entrypoints==0.4
execnet==1.9.0
fastjsonschema==2.15.3
filelock==3.7.1
flatbuffers==1.12
fonttools==4.34.4
frozenlist==1.3.0
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google==3.0.0
google-api-core==2.8.2
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.3
gpustat==0.6.0
gym==0.19.0
h5py==3.7.0
hyperlink==21.0.0
idna==3.3
ijson==3.1.4
importlib-metadata==4.12.0
importlib-resources==5.8.0
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.15.1
ipython==7.34.0
jedi==0.18.1
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.7.2
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyter-server-mathjax==0.2.5
jupyterlab-pygments==0.2.2
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
libclang==14.0.1
lz4==4.0.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.4
multidict==6.0.2
nbclient==0.5.13
nbconvert==6.5.0
nbdime==3.1.1
nbformat==5.4.0
nest-asyncio==1.5.5
numpy==1.21.6
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
opencensus==0.10.0
opencensus-context==0.1.2
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
opt-einsum==3.3.0
packaging==21.3
Panda3D==1.10.9
panda3d-gltf==0.13
panda3d-simplepbr==0.10
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
py==1.11.0
py-cpuinfo==8.0.0
py-spy==0.3.12
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.0.6
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.1.2
pytest-benchmark==3.4.1
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-xdist==2.5.0
pytest_notebook==0.7.0
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
pyzmq==23.2.0
ray==1.0.1.post1
redis==3.4.1
requests==2.28.1
requests-oauthlib==1.3.1
rich==12.5.1
rsa==4.8
Rtree==1.0.0
scipy==1.7.3
Send2Trash==1.8.0
sh==1.14.2
Shapely==1.8.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
tableprint==0.9.1
tabulate==0.8.10
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
tinycss2==1.1.1
tomli==2.0.1
torch==1.4.0
torchfile==0.1.0
torchvision==0.5.0
tornado==6.2
traitlets==5.3.0
trimesh==3.9.29
Twisted==22.4.0
typing_extensions==4.3.0
urllib3==1.26.10
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.1.2
wrapt==1.14.1
yarl==1.7.2
yattag==1.14.0
zipp==3.8.0
zope.interface==5.4.0
