absl-py==1.4.0
aiosignal==1.3.1
astunparse==1.6.3
attrs==23.1.0
Automat==22.10.0
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.4
cloudpickle==2.1.0
constantly==15.1.0
coverage==7.2.7
decorator==5.1.1
dm-tree==0.1.8
exceptiongroup==1.1.2
execnet==2.0.2
filelock==3.12.2
flatbuffers==23.5.26
frozenlist==1.3.3
future==0.18.3
gast==0.4.0
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.51.3
Gymnasium==0.26.3
gymnasium-notices==0.0.1
h5py==3.9.0
hyperlink==21.0.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
incremental==22.10.0
iniconfig==2.0.0
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
keras==2.13.1
lazy_loader==0.3
libclang==16.0.0
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
msgpack==1.0.5
networkx==3.1
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
opt-einsum==3.3.0
packaging==23.1
Panda3D==1.10.9
panda3d-gltf==0.13
panda3d-simplepbr==0.10
pandas==2.0.3
Pillow==10.0.0
pkgutil_resolve_name==1.3.10
pluggy==1.2.0
protobuf==4.23.4
psutil==5.9.5
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybullet==3.2.5
Pygments==2.15.1
pytest==7.4.0
pytest-benchmark==4.0.0
pytest-cov==4.1.0
pytest-forked==1.6.0
pytest-xdist==3.3.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
ray==2.5.1
referencing==0.29.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.2
rpds-py==0.8.10
rsa==4.9
scikit-image==0.21.0
scipy==1.10.1
shapely==2.0.1
six==1.16.0
tableprint==0.9.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-probability==0.20.1
termcolor==2.3.0
tifffile==2023.7.10
tomli==2.0.1
torch==1.4.0
torchvision==0.5.0
trimesh==3.9.29
Twisted==22.10.0
typer==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.16
wcwidth==0.2.6
Werkzeug==2.3.6
wrapt==1.15.0
yattag==1.15.1
zipp==3.16.0
zope.interface==6.0
