tasks:
  task00: # unittest
    easy:
      train: "../tests/task/train_mock*"
      test:  "../tests/task/test_mock*"
    eval_test:
      train: "../tests/task/eval_test/eval*"
      test:  "../tests/task/eval_test/eval*"
  task00-multiagent: # unittest
    easy:
      train: "../tests/task/train_multiagent_mock*"
      test:  "../tests/task/test_multiagent_mock*"
    eval_test:
      train: "../tests/task/eval_test_multiagent/eval*"
      test:  "../tests/task/eval_test_multiagent/eval*"
  task0:
    no-traffic:
      train: "scenarios/task1/train_no-traffic*"
      test:  "scenarios/task1/train_no-traffic*"
    easy:
      train: "scenarios/task1/train_easy*"
      test:  "scenarios/task1/train_easy*"
    medium:
      train: "scenarios/task1/train_medium*"
      test:  "scenarios/task1/train_medium*"
    hard:
      train: "scenarios/task1/train_hard*"
      test:  "scenarios/task1/train_hard*"
  task1:
    no-traffic:
      train: "scenarios/task1/train_no-traffic*"
      test:  "scenarios/task1/test_no-traffic*"
    easy:
      train: "scenarios/task1/train_easy*"
      test:  "scenarios/task1/test_easy*"
    medium:
      train: "scenarios/task1/train_medium*"
      test:  "scenarios/task1/test_medium*"
    hard:
      train: "scenarios/task1/train_hard*"
      test:  "scenarios/task1/test_hard*"
  task2:
    lo-hi:
      train: "scenarios/task2/train_lo-hi*"
      test:  "scenarios/task2/test_lo-hi*"
    hi-lo:
      train: "scenarios/task2/train_hi-lo*"
      test:  "scenarios/task2/test_hi-lo*"
  task3:
    grade1:
      train: "scenarios/task3/train_grade1*"
      test: "scenarios/task3/test_grade1*"
    grade2:
      train: "scenarios/task3/train_grade2*"
      test: "scenarios/task3/test_grade2*"
    grade3:
      train: "scenarios/task3/train_grade3*"
      test: "scenarios/task3/test_grade3*"
    grade4:
      train: "scenarios/task3/train_grade4*"
      test: "scenarios/task3/test_grade4*"

