absl-py==0.13.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==2.0.0
anyio==3.3.0
apipkg==1.5
appnope==0.1.2
argcomplete==1.12.3
argon2-cffi==20.1.0
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==4.0.0
blessings==1.7
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==1.3.0
colorama==0.4.4
colorful==0.5.4
commonmark==0.9.1
constantly==15.1.0
coverage==5.5
cycler==0.10.0
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
dm-tree==0.1.6
entrypoints==0.3
execnet==1.9.0
filelock==3.0.12
future==0.18.2
gast==0.3.3
gitdb==4.0.7
GitPython==3.1.18
google==3.0.0
google-api-core==1.31.2
google-auth==1.35.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.37.0
gym==0.19.0
h5py==2.10.0
hyperlink==21.0.0
idna==3.2
ijson==3.1.4
imageio==2.9.0
importlib-metadata==4.6.4
importlib-resources==5.2.2
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyter-server-mathjax==0.2.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lz4==3.1.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mistune==0.8.4
msgpack==1.0.2
multidict==5.1.0
nbconvert==5.6.1
nbdime==3.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
numpy==1.18.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python==4.5.3.56
opencv-python-headless==4.3.0.36
opt-einsum==3.3.0
packaging==21.0
Panda3D==1.10.9
panda3d-gltf==0.13
panda3d-simplepbr==0.8
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pluggy==0.13.1
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==8.0.0
py-spy==0.3.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.0.6
pycparser==2.20
pyglet==1.5.15
Pygments==2.10.0
pynput==1.7.3
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Quartz==7.3
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.4
pytest-benchmark==3.4.1
pytest-cov==2.12.1
pytest-forked==1.3.0
pytest-notebook==0.6.1
pytest-xdist==2.3.0
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
ray==1.0.1.post1
redis==3.4.1
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rich==10.7.0
rsa==4.7.2
Rtree==0.9.7
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.4.1
Send2Trash==1.8.0
sh==1.14.2
Shapely==1.7.1
six==1.16.0
sklearn==0.0
smmap==4.0.0
sniffio==1.2.0
soupsieve==2.2.1
tableprint==0.9.1
tabulate==0.8.9
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tensorflow==2.2.1
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.11.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.8.8
toml==0.10.2
torch==1.4.0
torchfile==0.1.0
torchvision==0.5.0
tornado==6.1
traitlets==5.0.5
trimesh==3.9.29
Twisted==21.7.0
typing-extensions==3.10.0.0
urllib3==1.26.6
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
yattag==1.14.0
zipp==3.5.0
zope.interface==5.4.0
