name: SMARTS CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-18.04
    container: huaweinoah/smarts:v0.4.3-pre
    strategy:
      matrix:
        tests:
          - ./envision
          - ./smarts/contrib
          - ./smarts/core
          - ./smarts/env --ignore=./smarts/env/tests/test_rllib_hiway_env.py
          - ./smarts/env/tests/test_rllib_hiway_env.py
          - ./smarts/sstudio
          - ./tests
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup X11
        run: |
          /usr/bin/Xorg \
            -noreset \
            +extension GLX \
            +extension RANDR \
            +extension RENDER \
            -logfile ./xdummy.log \
            -config /etc/X11/xorg.conf :1 &
      # - name: Cache pip
      #   id: cache-pip
      #   uses: actions/cache@v2
      #   with:
      #     path: |
      #       .venv
      #       /usr/local/bin/scl
      #     key: pip-${{hashFiles('requirements.txt')}}-${{hashFiles('setup.py')}}
      - name: Install dependencies
        # if: steps.cache-pip.outputs.cache-hit != 'true'
        run: |
          python3.7 -m venv .venv
          . .venv/bin/activate
          pip install --upgrade --upgrade-strategy eager pip
          pip install --upgrade --upgrade-strategy eager wheel
          pip install --upgrade --upgrade-strategy eager -r requirements.txt
          pip install --upgrade --upgrade-strategy eager -e .[train,test]
      - name: Run smoke tests
        run: |
          . .venv/bin/activate
          make build-all-scenarios
          PYTHONHASHSEED=42 pytest -v \
            --doctest-modules \
            --forked \
            --dist=no \
            -n auto \
            ${{matrix.tests}} \
            --ignore=./smarts/core/tests/test_smarts_memory_growth.py \
            --ignore=./smarts/env/tests/test_learning.py \
            --ignore=./smarts/env/tests/test_benchmark.py
