name: SMARTS CI Pull Request

on:
  push:
    branches:
      - disabled

env:
  venv_dir: .venv
jobs:
  test-benchmark:
    runs-on: ubuntu-18.04
    container: huaweinoah/smarts:v0.4.3-pre
    steps:
      - name: Checkout
        uses: actions/checkout@v1.2.0
      - name: Install SMARTS package
        run: |
          /usr/bin/Xorg \
            -noreset \
            +extension GLX \
            +extension RANDR \
            +extension RENDER \
            -logfile ./xdummy.log \
            -config /etc/X11/xorg.conf :1 &
          cd $GITHUB_WORKSPACE
          python3.7 -m venv "${venv_dir}"
          . "${venv_dir}/bin/activate"
          pip install --upgrade pip
          pip install wheel
          pip install -r requirements.txt
          pip install -e .[train]
      - name: SMARTS benchmark
        run: |
          cd $GITHUB_WORKSPACE
          . "${venv_dir}/bin/activate"
          apt-get update && apt-get -y install git
          git checkout $(git log --merges -n 1 --format=format:"%H")
          scl scenario build-all --clean ./scenarios
          pytest --benchmark-save=previous --benchmark-min-rounds=10 --benchmark-timer=time.process_time ./smarts/env/tests/test_benchmark.py
          git checkout -
          pip install -e .[train]
          scl scenario build-all --clean ./scenarios
          pytest --benchmark-compare=0001_previous --benchmark-compare-fail=mean:10% --benchmark-min-rounds=10 --benchmark-timer=time.process_time ./smarts/env/tests/test_benchmark.py
