name: SMARTS CI Pull Request

on:
  push:
    branches:
      - disabled

env:
  venv_dir: .venv

jobs:
  test-benchmark:
    runs-on: ubuntu-18.04
    container: huaweinoah/smarts:v0.4.18-minimal
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup package
        run: |
          cd $GITHUB_WORKSPACE
          python3.7 -m venv ${{env.venv_dir}}
          . ${{env.venv_dir}}/bin/activate
          pip install --upgrade pip
          pip install --upgrade wheel
          pip install -e .[train,test,camera-obs]
      - name: SMARTS benchmark
        run: |
          cd $GITHUB_WORKSPACE
          . ${{env.venv_dir}}/bin/activate
          apt-get update && apt-get -y install git
          git checkout $(git log --merges -n 1 --format=format:"%H")
          scl scenario build-all --clean ./scenarios
          pytest --benchmark-save=previous --benchmark-min-rounds=10 --benchmark-timer=time.process_time ./smarts/env/tests/test_benchmark.py
          git checkout -
          pip install -e .[train,test,camera-obs]
          scl scenario build-all --clean ./scenarios
          pytest --benchmark-compare=0001_previous --benchmark-compare-fail=mean:10% --benchmark-min-rounds=10 --benchmark-timer=time.process_time ./smarts/env/tests/test_benchmark.py